@model List<ProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" asp-controller="Products" asp-action="Save">Save Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>CreatedDate</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate</td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Products" asp-route-id="@item.Id">
                        Update
                    </a>
                    <a class="btn btn-danger" asp-action="Remove" asp-controller="Products" asp-route-id="@item.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

